* {
    text-align: center;
  
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
  }
  
  .div1 {
    margin: 10px;
  }
  
  .central {
    border-bottom: 1px solid rgb(207, 207, 207);
  }
  
  td {
    padding: 2px;
  }
  
  tr{
    padding: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .div2 {
    border: 1px solid rgb(207, 207, 207);
    box-sizing: border-box;
    position: absolute;
    width: 95%;
    height: 83%;
  }
  
  .solucionado {
    background-color: rgb(207, 207, 207);
  }
  
  tr:hover {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
  }
  
  
  .empezar {
    background-color: #532301;
    color: white;
    border-radius: 5%;
    padding: 20px;
    font-size: 24px;
  }
  .terminar {
    background-color: #532301;
    color: white;
    border-radius: 5%;
    padding: 20px;
    font-size: 24px;
  }
  
  .reportar {
    background-color: white;
    color: #004215;
    border-radius: 5%;
    padding: 20px;
    font-size: 24px;
  }